<style>
  .zoom-profile {
  transition: transform .2s; 
  }
  
  .zoom-profile:hover {
  transform: scale(1.15);
  }
</style>

<div class="modal fade" id="confirmLogoutModal" tabindex="-1" aria-labelledby="confirmLogoutModalLabel" aria-hidden="true" style="color: black;">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="confirmLogoutModalLabel">Confirmar Logout</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>Deseja realmente sair da sua conta?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button id="confirmLogoutButton" type="button" class="btn btn-danger">Confirmar Logout</button>
          </div>
      </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/" id="font-navbar">
      <img src="../../images/icon_navbar.png" alt="Logo" width="58" height="58" class="d-inline-block align-text-center">
    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        <% if (!user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/entrar" id="animacao-sublinhada-entrar">ENTRAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cadastro" id="animacao-sublinhada-cadastrar">CADASTRAR-SE</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/sobre-nos" id="animacao-sublinhada-entrar">SOBRE NÓS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dicas" id="animacao-sublinhada-cadastrar">DICAS FINANCEIRAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/metas" id="animacao-sublinhada-entrar">METAS</a>
          </li>
          <li class="nav-item" style="margin-right: 5px;">
            <a class="nav-link" href="/logout" id="animacao-sublinhada-entrar" data-bs-toggle="modal" data-bs-target="#confirmLogoutModal">SAIR</a>
          </li>
          <li class="nav-item">
            <div class="zoom-profile">
            <a href="/dados">
              <% } if (account.foto === null) { %>
                <img class="shadow-4-strong cursor-pointer" alt="foto-de-perfil" src="../../images/perfil-default.png" style="width: 45px; height: 45px; object-fit: cover; border-radius: 50%;">
              <% } else { %>
                <img class="shadow-4-strong cursor-pointer" alt="foto-de-perfil" src="../../uploads/<%= account.foto %>" style="width: 45px; height: 45px; object-fit: cover; border-radius: 50%;">
              <% } %>
            </a>
          </div>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<script>
  function logout() {
      fetch('/logout', {
          method: 'POST'
      })
      .then(response => {
          if (response.ok) {
              window.location.href = '/login';
          } else {
              console.error('Erro ao realizar o logout');
          }
      })
      .catch(error => {
          console.error('Erro ao realizar o logout:', error);
      });
  }

  document.getElementById('confirmLogoutButton').addEventListener('click', function() {
      logout();
  });
</script>