<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/menu.ejs')%>

    <!-- Modal de Erro -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Erro no Cadastro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div style="width: 85%; max-width: 450px; margin-top: 3%;">
            <div class="container-sm" style="border-color: black 10px;">
                <div class="card">
                    <div class="card-body" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                        <form enctype="multipart/form-data" method="post" action="/register" id="registerForm">
                            <div class="container-sm">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><img src="../images/camera.svg"/></span>
                                    <div class="form-floating">
                                        <input type="file" name="file" class="form-control" id="file" accept="image/*" onchange="previewImage(event)">
                                        <label class="label-cadastro-login">Foto de Perfil</label>
                                    </div>
                                    <div id="imagePreview" style="margin-left: 10px;">
                                        <img id="previewImg" src="#" alt="Preview" style="display:none; width: 55px; height: 55px; object-fit: cover; border: 1px solid #ccc; border-radius: 4px;">
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><img src="../images/person-fill.svg"/></span>
                                    <div class="form-floating">
                                        <input type="text" name="f_nome" class="form-control" id="f_nome"
                                            placeholder="Digite seu Nome" required>
                                        <label for="f_nome" class="label-cadastro-login">Nome</label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><img src="../images/people-fill.svg"/></span>
                                    <div class="form-floating">
                                        <input type="text" name="f_sobrenome" class="form-control" id="f_sobrenome"
                                            placeholder="Digite seu Sobrenome" required>
                                        <label for="f_sobrenome" class="label-cadastro-login">Sobrenome</label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><img src="../images/calendar3.svg"/></span>
                                    <div class="form-floating">
                                        <input type="date" name="f_nasc" class="form-control" id="f_nasc"
                                            placeholder="" required>
                                        <label for="f_nasc" class="label-cadastro-login">Data de Nascimento</label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><img src="../images/card-list.svg"/></span>
                                    <div class="form-floating">
                                        <input type="text" name="f_cpf" class="form-control" id="f_cpf"
                                            placeholder="Digite seu CPF" maxlength="14" required oninput="mascara_cpf(this)"> 
                                        <label for="f_cpf" class="label-cadastro-login">CPF</label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><img src="../images/telephone-fill.svg"/></span>
                                    <div class="form-floating">
                                        <input type="tel" name="f_telefone" class="form-control" id="f_telefone"
                                            placeholder="Digite seu Telefone" maxlength="15" required oninput="mascara_tel(this)">
                                        <label for="f_telefone" class="label-cadastro-login">Telefone</label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><img src="../images/envelope-at.svg"/></span>
                                    <div class="form-floating">
                                        <input type="email" name="f_email" class="form-control" id="f_email"
                                            placeholder="SeuEmail@SeuDomínio" maxlength="100" required>
                                        <label for="f_email" class="label-cadastro-login">Email</label>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><img src="../images/key-fill.svg" alt="key icon"/></span>
                                    <div class="form-floating">
                                        <input type="password" name="f_senha" class="form-control" id="senha"
                                            placeholder="Digite sua Senha" minlength="8" required>
                                        <label for="senha" class="label-cadastro-login">Senha</label>
                                        <img src="../images/eye-slash.svg" class="toggle-visibility" id="toggleSenha" alt="toggle visibility"/>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><img src="../images/key-fill.svg" alt="key icon"/></span>
                                    <div class="form-floating">
                                        <input type="password" name="confirmasenha" class="form-control" id="confirmasenha"
                                            placeholder="Confirme sua senha" minlength="8" required>
                                        <label for="confirmasenha" class="label-cadastro-login">Confirme sua senha</label>
                                        <img src="../images/eye-slash.svg" class="toggle-visibility" id="toggleConfirmaSenha" alt="toggle visibility"/>
                                    </div>
                                </div>
                                <div id="passwordFeedback" style="color: red; font-size: 14px; display: none;">
                                    <ul>
                                        <li id="minChar">A senha deve ter no mínimo 8 caracteres.</li>
                                        <li id="upperChar">A senha deve conter pelo menos uma letra maiúscula.</li>
                                        <li id="symbolChar">A senha deve conter pelo menos um símbolo.</li>
                                        <li id="matchChar">As senhas devem ser iguais.</li>
                                    </ul>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-success btn-lg btn-block mt-3"
                                        style="transition: all 0.2s ease-in-out; font-size: 18px; color: #ffff; font-family: sans-serif; font-weight: bolder;">CADASTRAR</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function previewImage(event) {
            const imagePreview = document.getElementById('previewImg');
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                imagePreview.style.display = 'none';
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            const senha = document.getElementById("senha");
            const confirmasenha = document.getElementById("confirmasenha");
            const passwordFeedback = document.getElementById("passwordFeedback");
            const minChar = document.getElementById("minChar");
            const upperChar = document.getElementById("upperChar");
            const symbolChar = document.getElementById("symbolChar");
            const matchChar = document.getElementById("matchChar");

            function validatePassword() {
                const password = senha.value;
                let valid = true;

                // Verifica se a senha tem pelo menos 8 caracteres
                if (password.length >= 8) {
                    minChar.style.color = "green";
                } else {
                    minChar.style.color = "red";
                    valid = false;
                }

                // Verifica se a senha tem pelo menos uma letra maiúscula
                if (/[A-Z]/.test(password)) {
                    upperChar.style.color = "green";
                } else {
                    upperChar.style.color = "red";
                    valid = false;
                }

                // Verifica se a senha tem pelo menos um símbolo
                if (/[\W_]/.test(password)) {
                    symbolChar.style.color = "green";
                } else {
                    symbolChar.style.color = "red";
                    valid = false;
                }

                // Verifica se as senhas coincidem
                if (password === confirmasenha.value) {
                    matchChar.style.color = "green";
                } else {
                    matchChar.style.color = "red";
                    valid = false;
                }

                // Exibe o feedback apenas se algum critério não for atendido
                passwordFeedback.style.display = valid ? "none" : "block";
            }

            senha.addEventListener("input", validatePassword);
            confirmasenha.addEventListener("input", validatePassword);
        });
    </script>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/vlibras.ejs') %>
</body>